.c1{
    color: aqua;
    font-size: 20px;
    font-weight: 50px;
    padding: 10px 20px 30px 40px;
}
.c2{
    color: aquamarine;
    font-size: 20px;
    font-weight: 50px;
     padding: 10px 20px 30px 40px;
}
.c3{
    color: blue;
    font-size: 20px;
    font-weight: 50px;
    padding: 10px 20px 30px 40px;
    height:100px;
    width: 300px;
}
.parent{
    background-color: white;
    height: 500px;
    width: 500px;
}
.child1{
    background-color: gray;
    height: 100px;
    width: 100px;
}
.child2{
    background-color: black;
    height: 100px;
    width: 100px;
}